
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Css variables */
  --primary-blue: #0039A6;
  --color-gradient: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  --color-background: #d9d9d9;
  --color-card-background: #fff;
  --color-header: #000;
  --color-info: #363949;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
  /*-------------------------------------*/
}

/* Dark mode variables */
.dark-mode {
  --color-gradient: linear-gradient(to right, #656871 0%, #888b94 20%, #656871 40%, #656871 100%);
  --color-background: #414247;
  --color-card-background: #252525;
  --color-header: #fff;
  --color-info: #ccc;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Pre LoginForm, RegistrationForm */
  font-family: 'Mulish', sans-serif;

  /*  FEI dotted background
  background: radial-gradient(circle, rgba(237, 237, 237, 0.7) 2px, #fafafa 0px);
  background-size: 10px 10px;
  */
}


