:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%
}



body { /* Toto je kvoli LoginForm komponentu */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
